/* Write your code here. */
.list-container {
  list-style-type: none;
  font-family: 'Roboto';
}

.list-item-style {
  border: 1px solid #e4e7eb;
  margin-bottom: 18px;
  padding: 20px;
  border-radius: 14px;
}
.question-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.question-heading {
  font-size: 32px;
  color: #52606d;
  font-weight: 800;
}
.buttn {
  background-color: transparent;
  border-width: 0px;
  cursor: pointer;
  outline: none;
}
.horizantal-line {
  border: 1px solid #e4e7eb;
  width: 100%;
}
.para-answer-text{
  font-family: "Roboto";
  font-size: 24px;
  color: #9aa5b1;
}