/* Write your code here. */
.background-container {
  background-color: #f1f5f8;
  min-height: 100vh;
  padding: 80px;
}
.card-container {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
}
.heading-faqs {
  font-family: 'Roboto';
  font-size: 52px;
  color: #cb8805;
  font-weight: 800;
  text-align: center;
}
.list-container {
  list-style-type: none;
  font-family: 'Roboto';
}
